modLoader="javafml" #mandatory

# A version range to match for said mod loader - for regular FML @Mod it will be the forge version
loaderVersion="[31,)" #mandatory This is typically bumped every Minecraft version by Forge. See our download page for lists of versions.

# A URL to refer people to when problems occur with this mod
issueTrackerURL="https://github.com/Gollorum/Signpost/issues" #optional

# A URL for the "homepage" for this mod, displayed in the mod UI
displayURL="https://www.curseforge.com/minecraft/mc-mods/signpost" #optional

license="The MIT License (MIT)"

# A text field displayed in the mod UI
authors="Gollorum" #optional

# A file name (in the root of the mod JAR) containing a logo for display
# TODO: Make a logo
# logoFile="examplemod.png" #optional

# A text field displayed in the mod UI
# credits="Thanks for this example mod goes to Java" #optional

# A list of mods - how many allowed here is determined by the individual mod loader
[[mods]] #mandatory

# The modid of the mod
modId="signpost" #mandatory

# The version number of the mod - there's a few well known ${} variables useable here or just hardcode it
version="${file.jarVersion}" #mandatory

 # A display name for the mod
displayName="Signpost" #mandatory

# A URL to query for updates for this mod. See the JSON update specification <here>
# updateJSONURL="https://www.curseforge.com/minecraft/mc-mods/signpost" #optional

# The description text for the mod (multi line!) (#mandatory)
description='''
This is a mod with signposts.

It sometimes gets updates if the author is not too lazy.
Which means that it very rarely gets updates.
'''
# A dependency - use the . to indicate dependency for a specific modid. Dependencies are optional.
[[dependencies.signpost]] #optional
    # the modid of the dependency
    modId="waystones" #mandatory
    # Does this dependency have to exist - if not, ordering below must be specified
    mandatory=false #mandatory
    # The version range of the dependency
    versionRange="[1,)" #mandatory
    # An ordering relationship for the dependency - BEFORE or AFTER required if the relationship is not mandatory
    ordering="BEFORE"
    # Side this dependency is applied on - BOTH, CLIENT or SERVER
    side="BOTH"